<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/login.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <title>Blog App || Login</title>
</head>

<body>
    <div id="container">
        <% if(messages.error){ %>
            <h5><%= messages.error %></h5>
       <% }%>
        <a href="/"> <i class="ri-arrow-left-line"></i>Get me Homepage</a>
        <h4>Login</h4>
        <hr>
        <div class="main">
            <form action="/login" method="POST">
                <input type="text" placeholder="Username" name="username">
                <input type="password" placeholder="Password" name="password">
                <input type="submit" value="Login">
                <a href="/register">Register a new Account</a>
                <a href="#">Forget Password ?</a>
            </form>
            
        </div>
    </div>
</body>

</html>