<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/register.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <title>Blog App || Register</title>
</head>

<body>
    <div class="main">
        <div id="container">
            <a href="/login"> <i class="ri-arrow-left-line"></i>Already have an account</a>
            <form action="/reg" method="POST">
                <label for="name">Name</label>
                <input type="text" name="name" placeholder="Name">
                <label for="email">Email</label>
                <input type="email" name="email" placeholder="Email">
                <label for="username">Username</label>
                <input type="text" name="username" placeholder="Username">
                <label for="password">Password</label>
                <input type="password" name="password" placeholder="Password">
                <input type="submit" value="Register Me">
            </form>
        </div>
    </div>
</body>

</html>